<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Choose Your Own Adventure</title>
</head>
<body>

<h1>{{.Title}}</h1>
{{range .Paragraphs}}
    <P>{{.}}</P>
{{end}}
<ul>
    {{range .Options}}
        <form method="post" action="http://localhost:3000" class="inline">
            <button type="submit" name="arc" value="{{.Chapter}}" class="btn btn-link">{{.Text}}</button>
        </form>
    {{end}}
</ul>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
</body>
</html>